<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FIGHT ON!</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courgette&display=swap">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">FIGHT ON!</a>
      </h1>
      <nav>
        <a class='btn' href="/homepage">Home</a>
        <a class='btn' href="/api/games">Games</a>
        <a class='btn' href="/views/dashboard">Dashboard</a>
        <a class='btn' href="/login">Login</a>
        {{#if logged_in}}
        <a> href </a>
        <button id='logout-btn'>Logout</button>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>

    {{#if logged_in}}
    <script src="/public/js/logout.js"></script>
    {{/if}}
</body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</html>