<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FIGHT ON!</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courgette&display=swap">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">FIGHT ON!</a>
      </h1>
<nav>
<a class = 'btn' href="/">Home</a>
<a class = 'btn' href="/api/games">Games</a>
<<<<<<< HEAD
<a class = 'btn' href="/api/profile">Dashboard</a>
<a class= 'btn' href="/api/users">Users</a>
=======
<a class = 'btn' href="/dashboard">Dashboard</a>
>>>>>>> d3a6d35a18f0329e6ae2cbf52c7dba3320e3eda8
{{#if logged_in}}
<a class = 'btn' >Logout</a>
{{else}}
<a class = 'btn' href="/login">Login</a>
{{/if}}
</nav>
</header>
<main class="container container-fluid mt-5">
    {{{ body }}}
</main>

    {{#if logged_in}}
    <script src="/public/js/logout.js"></script>
    {{/if}}
</body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</html>