{{#each games as |game| }}
<div class="all-games">
   <h1>{{game.name}}</h1>
   <img src="{{game.boxArt}}" alt="{{game.name}}">
   <button class="btn">Add!</button>

</div>
{{/each}}

<script src=""></script>