{{#each games as |game| }}
<div class="all-games">
   <p>{{game.name}}</p>
   <img src="{{game.boxArt}}" alt="{{game.name}}">


   {{#if logged_in}}
   <button class="btn">Add!</button>
   {{/if}}
</div>
{{/each}}

