

<div class="game-dashes" id="gamedash-">
  <div class="col-auto">
    <h1>Welcome back {{name}}!</h1>
    <h1>{{email}}</h1>
    <h1>{{gamertag}}</h1>
  </div>
</div>

<script src="/js/login.js"></script>