<div>
<h2> TOP GAMES TRENDING NOW</h2>

{{#each topGames as |topGame| }}
    <div class="all-games">
        <img src="{{topGame.boxArt}}" alt="{{topGame.name}}">
        <h3>{{topGame.name}}</h3>
    </div>
{{/each}}


<h2>What is Project Fight On?</h2>
<p>Project Fight On is a way for players to find other players to match up with and just start swinging.  
    Sometimes you wake up and need to prove you are better than some random stranger. Well, Fight On.  </p>
</div>