<div class="index-landing-page">
    <div class="index-card">
        <div class="index-wrap">

            <div class="index-card-header">
                <h2>FIGHT ON!</h2>
            </div>
            <div class="index-features">
                <div class="feature-card">
                    <div class="feature-icon">
                    </div>
                    <h3>Games</h3>
                </div>
                <div class="feature-card">
                    <div class="feature-icon">
                    </div>
                    <h3>Statistics</h3>
                </div>
                <div class="feature-card">
                    <div class="feature-icon">
                    </div>
                    <h3>Leaderboards</h3>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>