
<div class="game-dashes" id="gamedash-">
  <div class="col-auto">
 {{#each users as |user|}}
<h1>{{user.name}}</h1>
<button class='btn challengeBtn' id='challengeBtn'>Challenge!</button>
 {{/each}}
  </div>
</div>


<script src="/js/challenge.js"></script>