:root {
    --primary: gray;
    --secondary: #1d2ddf;
    --tertiary: #750202e7;
    --dark: #64745a;
    --border-radius: 0.2rem;
}


body {
    background-color: var(--primary);
    margin:0;
    padding:0;
    color: var(--secondary);
    line-height: 1.5;
    font-size: 16px;
    background-image: url('https://images.unsplash.com/photo-1498736297812-3a08021f206f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1057&q=80');
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight:700;
    margin: 0;
    color: var(--tertiary);
    line-height: 1.25;
    letter-spacing: 1px;
}

h2 a {
    color: var(--primary);
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main {
    margin: 20px auto;
    width: 94%;
}
p {
    font-size: 1rem;
    color: var(--dark);
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    bordeR: none;
    outline: none;
    background-color: var(--secondary);
}

.btn:hover {
    color: var(--primary);
    background-color: var(--dark);    
}

.nav-item {
    margin: 0 40px;
}

.nav-item a {
    color: var(--primary);
}

.all-games {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    
}